@use '../../styles/abstracts/' as *;

.search {
  margin-bottom: $spacing-xl;

  &__input {
    width: 100%;
    padding: $spacing-md;
    border: 1px solid rgba($color-black, .12);
    border-radius: $border-radius;
    font-size: $font-size-md;
    outline: none;
    transition: .3s ease;

    &:focus {
      border-color: $color-primary;
      box-shadow: 0 0 0 3px rgba($color-primary, .15);
    }

    &::placeholder {
      color: rgba($color-secondary, .5);
    }
  }
}